<ion-view style="" id="page6" title="Projects List">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="menu.projectDetails" class="item-thumbnail-left">
                <img>
                <h2>ALM</h2>
                <p style="white-space:normal;">Progetto ALM</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Progetto QlikView</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Evolutiva interna</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>